{{ range .Param "authors" }}
<div class="authorbox clearfix">
  {{ $name := . }}
  {{ $path := printf "/%s/%s" "authors" ($name | urlize) }}
    {{ with $.Site.GetPage $path }}
      <figure class="authorbox__avatar">
		    <img src= "/img{{$path}}.jpg" class="avatar" height="90" width="90">
	    </figure>
      <div class="authorbox__header">
        <span class="authorbox__name"><span>{{ .Params.name }}</span>
      </div>
      <div class="authorbox__description">{{ .Params.bio }}</div>
</div>
    {{ end }}
{{ end }}